:root { /*colours for css*/
    --gradient1: linear-gradient(
        45deg,
        #2e4156,
        #212f3e,
        #1a2530,
        #141c25,
        #1b2129,
        #11171f,
        #0b0f14,
        #020304

        );
    --white: linear-gradient( /* might neeed idk? */
        45deg,
        white,
        whitesmoke,
        lightgray,
        gray
        );

    --blue: linear-gradient(
        45deg,
        #000428,
        #022e54,
        #000428
        );


}

@keyframes bg-animation {
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: left;}
}
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    
}

body {

    background: #3b3636;
    font-family: sans-serif;
    background-image: var(--gradient1);
    background-size: 400% 1000%;
    animation: bg-animation 15s infinite;


}

h1 {
    color: white;
    font-family: Garamond;
    text-align: center;
}


p { 
    color: aliceblue;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    border-color: #415469;
    font-family: Garamond;
    font-size: 16px;
    
}

.input-container { 
    display : flex;
    width: 100%;
    box-sizing: border-box;
}

.url-input-container { 
    display : flex
}

.inputboxstyle {
    border: 0px;
    border-radius: 10px;
    padding: .5em 1em;
    font-size: 1rem;
    background-color: white;
    opacity: 50%;
    margin: 5px;
}

.buttonboxstyle {
    border: 20px;
    border-radius: 5px;
    padding: .5em 1em;
    font-size: 1rem;
    background-color: #415469;
    border-color: black;
    margin: 5px;
    
}

.results-bg {
    background-color: #212f3e;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}



.analysis-card {
  display: flex;
  align-items: center;
  background-image: var(--blue);    
  color: white;
  animation: bg-animation 15s infinite ;
  border-radius: 12px;
  padding: 20px 30px;
  width: 100%;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  justify-content: space-between;
  box-sizing: border-box;
}

.info {
  flex: 1;
}

.title {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.score-block {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.score {
  font-size: 3em;
  font-weight: bold;
  line-height: 1;
}

.points {
  list-style: none;
  margin: 0;
  padding: 0;
}

.points li {
  font-size: 1em;
  margin: 3px 0;
}

.points .bad {
  color: #ff5f5f;
}

.indicator {
  width: 70px;
  height: 70px;
  background: #ff6363;       /* bright green */
  border-radius: 50%;
  flex-shrink: 0;
  transition: background-color 1s ease;
}   